<mat-nav-list>
  <a mat-list-item routerLink="/login" *ngIf="!loggedInUser"><mat-icon>login</mat-icon><span>Bejelentkezés</span></a>
  <a mat-list-item routerLink="/login" *ngIf="loggedInUser"><mat-icon>logout</mat-icon><span>Kijelentkezés</span></a>
  <a mat-list-item routerLink="/register" *ngIf="!loggedInUser"><mat-icon>app_registration</mat-icon><span>Regisztráció</span></a>
  <a mat-list-item routerLink="/home"><mat-icon>home</mat-icon><span>Munkáink</span></a>
  <a mat-list-item routerLink="/new-appointment"><mat-icon>date_range</mat-icon><span>Új időpont</span></a>
  <a mat-list-item routerLink="/my-appointments"><mat-icon>event</mat-icon><span>Időpontjaim</span></a>
</mat-nav-list>
