<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>Tetováló Szalon</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="nav-items">
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Belépéls </a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/register">Regisztráció </a></li>
          <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Kijelntkezés </a></li>
          <li><a routerLink="/home">Munkáink </a></li>
          <li><a routerLink="/new-appointment">Új időpont </a></li>
          <li><a routerLink="/my-appointments">Időpontjaim </a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

